name: 雷神自动停止加速

on:
  push:
  schedule:
   # 定时任务，北京时间1点执行任务 1:00（北京时间）-8:00 = -17:00(24进制)
    - cron: '00 17 * * *' #前面是分钟 后面是秒

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          npm install
      - name: "雷神加速器暂停脚本"
        run: |
          node main.js
        env:
          LEISHEN_USERNAME: ${{ secrets.LEISHEN_USERNAME }}
          LEISHEN_PASSWORD: ${{ secrets.LEISHEN_PASSWORD }}
